@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@200&display=swap");
html, body {
  background-color: #152D35;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #D4ECDD;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.titletext {
  font-family: Poppins, sans-serif;
  color: #D4ECDD;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
}

.verticaltext {
  font-family: Poppins, sans-serif;
  color: #D4ECDD;
  writing-mode: vertical-lr;
}

.firstparagraphstyle {
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  color: #D4ECDD;
  margin-left: 5%;
}

.secondparagraphstyle {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  color: #E2DED0;
}

.headercontainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .titletext {
    font-size: 3rem;
  }

  .firstparagraphstyle {
    font-size: 1rem;
  }
}
.btn-discover {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #06D6A0;
  border-radius: 0.6em;
  color: #06D6A0;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 50px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.btn-anim {
  border-color: #06D6A0;
  color: #fff;
  background-image: linear-gradient(35deg, #06D6A0 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
}
.btn-anim:hover {
  background-position: 0;
}

.plotcontainer {
  display: flex;
  flex-direction: row;
}

#abteilungenplot {
  width: 60%;
  height: 20%;
}

#projektetext {
  margin-top: 5%;
  margin-left: 5%;
}

.projektecontainer {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #2A4248;
}

.paragraph-detail {
  margin-left: 5%;
}

.beschreibung {
  font-size: 50px;
  margin-left: 5%;
  font-weight: bold;
}

.container-bachmix {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#img-bachmix-logo {
  margin-left: 40vh;
  margin-bottom: 20vh;
  max-width: 100%;
}

#img-bachmix-aufbau {
  margin-left: 10vw;
  margin-bottom: 10%;
  border: 10px solid #D4ECDD;
}

@media (max-width: 768px) {
  #img-bachmix-aufbau {
    width: 100%;
    margin: 0;
    border: 0px;
  }

  #img-bachmix-logo {
    margin: 0;
  }
}
.container-ectt-pntt {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

#img-pntt {
  margin-left: 20vw;
  max-width: 800px;
  border: 10px solid #D4ECDD;
}

.pntt-cont-img {
  display: flex;
}

.ectt-pntt-highlight-text {
  color: #06D6A0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .pntt-cont-img {
    flex-direction: column;
    align-items: center;
  }

  #img-pntt {
    margin: 0;
    width: 100%;
    border: 0px;
  }
}
@media (max-width: 768px) {
  .secondparagraphstyle {
    font-size: 1rem;
  }
}
.container-llw {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

#img-llw {
  max-width: 600px;
  border: 10px solid #D4ECDD;
  margin-left: 20vw;
}

.llw-cont-img {
  display: flex;
}

#paragraph-detail-llw {
  margin-left: 5%;
}

@media (max-width: 768px) {
  .llw-cont-img {
    flex-direction: column;
    align-items: center;
  }

  #img-llw {
    margin: 0;
    width: 100%;
    border: 0px;
  }
}
.container-munbind {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.munbind-cont-img {
  display: flex;
}

#img-munbind {
  margin-left: 5%;
}

@media (max-width: 768px) {
  .munbind-cont-img {
    flex-direction: column;
    align-items: center;
  }

  #img-munbind {
    margin: 0;
    width: 25%;
    border: 0px;
  }
}
#img-klesenza-main {
  max-width: 900px;
  border: 10px solid #D4ECDD;
}

#img-klesenza-stats {
  max-width: 900px;
  border: 10px solid #D4ECDD;
}

.container-klesena-images {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .container-klesena-images {
    flex-direction: column;
    align-items: center;
  }

  #img-klesenza-main {
    margin: 0;
    width: 100%;
    border: 0px;
  }

  #img-klesenza-stats {
    margin: 0;
    width: 100%;
    border: 0px;
  }
}
.lap-cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.liststyle {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  color: Poppins, sans-serif;
  margin-left: 5%;
}

.img-lap {
  max-width: 700px;
  margin-bottom: 5%;
  border: 10px solid #D4ECDD;
}

@media (max-width: 768px) {
  .lap.cont-img {
    display: flex;
    align-items: center;
  }

  .img-lap {
    width: 100%;
    border: 0px;
  }
}
.container-other {
  display: flex;
  width: 100vh;
}

#this-text {
  color: #06D6A0;
}

@media (max-width: 768px) {
  .container-other {
    align-items: center;
  }
}
.topmiddleitem {
  width: 300px;
  height: 200px;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toprightitem {
  position: absolute;
  right: 2%;
  top: 2%;
}

.container-sprachen {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sprachentext {
  margin-top: 5%;
}

.thirdparagraphstyle {
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  color: #E2DED0;
  margin-left: 5%;
}

.images-sprachen {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.img-sprache {
  width: 150px;
  max-width: 220px;
  height: auto;
}

@media (max-width: 768px) {
  .thirdparagraphstyle {
    font-size: 1rem;
  }

  .img-sprache {
    width: 70px;
  }
}
.container-danke {
  height: 100vh;
  background-color: #2A4248;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#danketext {
  font-family: Poppins, sans-serif;
  color: #D4ECDD;
  font-size: 60px;
}

.fourthparagraphstyle {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  color: #E2DED0;
}

.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.container-splitter {
  width: 100%;
  height: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #D4ECDD;
}

.circle {
  position: absolute;
  border: solid 1px #D4ECDD;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;
}

.container-game {
  height: 20vh;
}

/*# sourceMappingURL=mainpage.css.map */
