@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@200&display=swap');

$primary-text-color: #D4ECDD;
$primary-background-color: #152D35;
$primary-text-font: Poppins, sans-serif;
$secondary-background-color: #2A4248;
$secondary-text-color: #E2DED0;
$highlight-color: #06D6A0;
$highlight-color-2: #B8E1FF;

html, body {
    background-color: $secondary-background-color;
    margin: 0;
}

h1 {
    color: $primary-text-color;
    font-family: $primary-text-font;
    font-size: 70px;
    margin: 0;
}

.container {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

p {
    max-width:50%;
    overflow-wrap: break-word;
    font-family: $primary-text-font;
    color: $primary-text-color;
    font-size: 25px;
}

img {
    width: 680px;
}

.btn-back {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $highlight-color;
    border-radius: 0.6em;
    color: $highlight-color;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    //text-transform: uppercase;
    font-family: $primary-text-font;
    font-weight: 700;
    margin-top: 1%;
}